<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/logins.css" />
    <title>Admin LogIn</title>
  </head>
  <body>
    <h1>Admin LogIn</h1>

    <form action="/admin/login" method="POST">
      <div class="errors">
        <!-- Display errors if any -->
        <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.message %></li>
          <% }); %>
        </ul>
        <% } %>
      </div>
      <div>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
        />
      </div>

      <div>
        <input
          type="text"
          id="password"
          name="password"
          placeholder="password"
          required
        />
      </div>

      <button type="submit">Log In</button>
      <a href="/" class="btn">Back To Dashboard</a>
    </form>
  </body>
</html>
