<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Afatech Voting System Dashboard</h1>
      <p>Please click on the links to visit the respective pages</p>
      <div class="buttons-container">
        <a href="/userLogin" class="btn">Visit User Login</a>
        <a href="/admin/login" class="btn">Visit Admin Login</a>
        <a href="/results/resultsPage" class="btn">Visit Results Page</a>
      </div>
    </div>
  </body>
</html>
