<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/logins.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>LogIn To Vote</h1>

    <form action="/userLogin" method="POST">
      <div class="errors">
        <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.message %></li>
          <% if (error.sound) { %>
          <audio id="errorSound" src="/sound/alert.mp3"></audio>
          <% } %> <% }); %>
        </ul>
        <% } %>
      </div>
      <div>
        <input
          id="identifier"
          name="username"
          placeholder="Enter your name or index number"
          type="text"
          class="identifier"
          required
        />
      </div>
      <button type="submit" class="btn">Log In</button>
      <a href="/" class="btn">Back To Dashboard</a>
    </form>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('errorSound')) {
          document.getElementById('errorSound').play();
        }
      });
    </script>
  </body>
</html>
